body {
    color: #333333;
    font-family: "Epilogue-Regular";
    font-size: 20px;
}

.font-size-heading {
    font-family: "Fraunces-Regular";
    font-size: 60px;
}

.font-size-nav {
    font-size: 20px;
}

.font-size-role {
    color: #666666;
    font-family: "Epilogue-Regular";
    font-size: 20px;
}

.hr-nav {
    background-color: #333333;
    height: 1.5px;
    margin-bottom: 90px;
}

.hr-nav-bottom {
    background-color: #333333;
    height: 1.5px;
}

.hr-section {
    background-color: #ffffff;
    margin-top: 64px;
    margin-bottom: 64px;
}

.project-name {
    color: #333333;
    font-family: "Fraunces-Regular";
    font-size: 48px;
}

.project-context {
    line-height: 180%;
}
