html {
    background-color: #f1efea;
}

body {
    color: #2f2d2b;
    font-family: "Karla", sans-serif;
    font-size: 20px;
    letter-spacing: -0.5px;
}

a {
    color: #2f2d2b;
    transition-duration: 0.25s;
}

a:hover {
    color: #c0391e;
}

.margin-l-1 {
    margin-left: 1rem;
}

.margin-l-6 {
    margin-left: 3rem;
}

.margin-x-6 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.img-logo {
    width: 74px;
    height: 28px;
}

.margin-r-6 {
    margin-right: 3rem;
}

nav {
    background-color: #f1efea;
}

.navbar {
    background-color: #f1efea;
}

.navbar-menu {
    background-color: #f1efea;
    box-shadow: none;
}

.nav-underline {
    border-bottom: 1.5px solid #2f2d2b;
}

.font-size-nav {
    color: #2f2d2b;
    font-family: "Karla", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.button {
    border-color: #f1efea;
    color: #f1efea;
    transition-duration: 0.25s;
}

.button:hover {
    border-color: #f1efea;
    background: #c0391e;
    color: #f1efea;
}

.button-case-study {
    background: #2f2d2b;
    border-radius: 2px;
    color: #f1efea;
    font-size: 20px;
    line-height: 180%;
    padding-top: 0.5rem;
}

.content ul {
    list-style: disc outside;
    margin-left: 1em;
    margin-top: 1em;
}

.inverse-color-group {
    background-color: #2f2d2b !important;
    color: #f1efea !important;
}

.inverse-color-group-space {
    background-color: #2f2d2b !important;
    color: #2f2d2b !important;
}

.hero-background {
    background-color: #2f2d2b;
}

.heading-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 205px;
}

.heading0 {
    color: #2f2d2b;
    font-family: "Vollkorn", serif;
    font-size: 60px;
    line-height: 125%;
    font-weight: 500;
    letter-spacing: -0.75px;
}

.heading0-space {
    color: #f1efea;
    margin-left: -0.6rem;
}

.heading0-hero {
    color: #2f2d2b;
    font-family: "Reenie Beanie", cursive;
    font-size: 80px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
    /* border-bottom: 2px solid;
    display: inline-block; */
    line-height: 69%;
    letter-spacing: -0.75px;
}

.heading0-text {
    font-size: 24px;
}

.heading1 {
    color: #2f2d2b;
    font-family: "Vollkorn", serif;
    font-size: 44px;
    line-height: 160%;
    font-weight: 500;
    letter-spacing: -0.75px;
}

.heading1-cs {
    color: #2f2d2b;
    font-family: "Vollkorn", serif;
    font-size: 44px;
    line-height: 160%;
    font-weight: 500;
    letter-spacing: -0.75px;
}

.heading1-space {
    color: #f1efea;
    margin-left: -0.6rem;
}

.heading1-hero {
    color: #2f2d2b;
    font-family: "Reenie Beanie", cursive;
    font-size: 60px;
    border-bottom: 2px solid;
    display: inline-block;
    line-height: 69%;
    letter-spacing: -0.75px;
}

.heading1-hero-no-underline {
    color: #2f2d2b;
    font-family: "Reenie Beanie", cursive;
    font-size: 60px;
    line-height: 69%;
}

/* FIXME - heading1 is the same as heading2 at the moment for backward compability */
.heading2 {
    color: #2f2d2b;
    font-family: "Vollkorn", serif;
    font-size: 32px;
    line-height: 160%;
    font-weight: 500;
    letter-spacing: -0.75px;
}

.heading3 {
    color: #2f2d2b;
    font-family: "Karla", serif;
    font-size: 28px;
    line-height: 150%;
    font-weight: 700;
    letter-spacing: -0.75px;
}

.heading3-cs {
    color: #2f2d2b;
    font-family: "Karla", serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 700;
    letter-spacing: -0.75px;
}

.heading3-hero {
    font-family: "Cedarville Cursive", cursive;
    color: #2f2d2b;
    font-size: 27.5px;
    line-height: 180%;
}

.heading4 {
    color: #2f2d2b;
    font-family: "Karla", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
}

.body-text1 {
    color: #665a4e;
    font-family: "Karla", sans-serif;
    font-size: 20px;
}

.hr-nav {
    background-color: #2f2d2b;
    height: 1.5px;
    margin-bottom: 90px;
}

.hr-nav-no-margin {
    background-color: #2f2d2b;
    height: 1.5px;
}

.hr-page-break {
    background-color: #aea69e;
    height: 1px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.hr-page-break-footer {
    background-color: #aea69e;
    height: 1px;
    margin-top: 64px;
    margin-bottom: 64px;
    margin-bottom: 20px;
}

.hr-section {
    background-color: #f1efea;
    margin-top: 64px;
    margin-bottom: 64px;
}

.hr-section-project {
    background-color: #f1efea;
    margin-top: 48px;
    margin-bottom: 34px;
}

.hr-section-project-small {
    background-color: #f1efea;
    margin-top: 14px;
    margin-bottom: 14px;
}

.line-height-180 {
    line-height: 180%;
}

.line-height-150 {
    line-height: 150%;
}

.line-height-100 {
    line-height: 100%;
}

.line-bold {
    font-weight: 700;
}

.breadcrumb-text {
    color: #d43d20;
    text-decoration: underline;
    font-weight: 500;
}

.breadcrumb-text:hover {
    color: #d43d20;
    text-decoration: underline;
}

.img-full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.img-inline {
    display: inline;
}

.img-otherside {
    border-radius: 20px;
}

.element-relative {
    position: relative;
}

.padding-top-half {
    padding-top: 60%;
}

.zoom:hover {
    transition: 0.25s;
    transform: scale(1.025);
}

.video-demo {
    width: 100%;
    height: 491px;
    object-fit: cover;
    z-index: -100;
}

.thumbnail-hover-wrapper {
    position: relative;
}

.thumbnail-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.25s ease-out;
}

.thumbnail-hover:hover {
    opacity: 1;
}

@media (max-width: 556px) {
    #selected-project-for-fun {
        padding-bottom: 0px;
    }

    #fun-project,
    #fun-project-break {
        display: none;
    }

    .heading1-cs {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .project-logo-mobile {
        width: 30%;
    }

    .font-size-nav {
        font-size: 18px;
    }

    body,
    p {
        font-size: 18px;
    }

    .button-case-study {
        font-size: 18px;
    }

    .margin-l-6 {
        margin-left: 1.5rem;
    }

    .margin-x-6 {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .margin-r-6 {
        margin-right: 1.5rem;
    }

    .img-logo {
        width: 52.86px;
        height: 20px;
    }

    .heading0 {
        font-size: 30px;
        padding-top: 1rem;
    }

    .heading0-space {
        margin-left: -0.2rem;
    }

    .heading0-hero {
        font-size: 40px;
        text-decoration-thickness: 2px;
    }

    .heading0-text {
        font-size: 18px;
    }

    .heading1 {
        font-size: 30px;
    }

    .heading1-space {
        margin-left: -0.2rem;
    }

    .heading1-hero,
    .heading1-hero-no-underline {
        font-size: 40px;
        line-height: 75%;
    }

    .heading3 {
        font-size: 24px;
    }
}

@media (min-width: 769px) and (max-width: 972px) {
    .img-logo {
        width: 63.43px;
        height: 24px;
    }

    .heading0 {
        font-size: 44px;
        padding-top: 1rem;
    }

    .heading0-hero {
        font-size: 60px;
        text-decoration-thickness: 2.5px;
    }

    .heading0-text {
        font-size: 20px;
    }
}

@media (min-width: 973px) {
    .heading0 {
        padding-top: 1.5rem;
    }
}
