{% extends "base.html" %} {% block content %}
<div class="container">
    <figure class="img-full-width">
        <img src="https://via.placeholder.com/1920x640" alt="" />
    </figure>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <div class="columns">
        <div class="column has-text-centered">
            <div class="block heading2">
                <p>A lil’ bit about me</p>
            </div>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <div class="block">
                <p class="line-height-180">
                    Hi there, I’m Dani. I’m a UX/UI designer based in the Bay
                    Area with a background in visual arts and graphic design.
                </p>
            </div>
            <div class="block">
                <p class="line-height-180">
                    My Vietnamese heritage and journeys in the US have led me to
                    connect with people from different countries and taught me
                    to consider a design from a cultural perspective.
                </p>
            </div>
            <div class="block">
                <p class="line-height-180">
                    During my earlier education, studying STEM and competing in
                    olympiads have shaped my analytical skills and love for a
                    good challenge.
                </p>
            </div>
            <div class="block">
                <p class="line-height-180">
                    On the other hand, I have been drawing since I learned to
                    pick up a pencil. As I explored different art and design
                    areas, I have developed an eye for visual defsign and a
                    detail-oriented mindset.
                </p>
            </div>
            <div class="block">
                <p class="line-height-180">
                    In the end, I realized that I wanted to make something that
                    could be used by others instead of just being on display.
                    UI/UX just clicks! My experiences living in a multicultural
                    environment and working across multiple disciplines now
                    serve as valuable pillars to strengthen my UX design work.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <div class="columns">
        <div class="column has-text-centered">
            <div class="block heading2">
                <p>
                    Check out what I do on the side
                    <a class="breadcrumb-text" href="/otherside">here.</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
