{% extends "base.html" %} {% block content %}
<div class="container">
    <hr class="hr-section-project" />
</div>
<div class="section">
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <p class="heading1 has-text-centered">
                    <span class="heading1">A little bit about</span>
                    <span class="heading1-space">.</span>
                    <span class="heading1-hero">Me!</span>
                </p>
            </div>
            <div class="column"></div>
        </div>

        <hr class="hr-section-project-small" />
        <div class="columns">
            <div class="column is-6">
                <div class="block">
                    <p>
                        Ever since I was little, I’ve always wanted to draw.
                        Clique, right? Well, as time went on, I got greedier and
                        wanted more. I want to design.
                    </p>
                    <p class="line-height-150 pt-4">
                        What excites me about design is the amount of brainpower
                        it takes to create a good one. It’s about asking the
                        right questions, developing with a critical process, and
                        making decisions with purposes. It trains me to be
                        comfortable with ambiguity but continuously strive for
                        clarity by finding answers in people.
                    </p>
                    <p class="line-height-150 pt-4">
                        With an entrepreneurial spirit, I’m working as a solo UX
                        designer for a young startup and started a couple of NFT
                        projects. I’m now looking for opportunities to learn and
                        grow alongside the creative minds in the industry.
                    </p>
                    <p class="line-height-150 pt-4">
                        When not designing, I’m probably cooking up startup
                        ideas, enjoying listening to people, propagating plants,
                        and admiring wine bottle designs in the grocery store.
                        I’m obsessed with pixels and drawing on the trackpad —
                        no mouse, please! You can see what I do on the side
                        <a class="breadcrumb-text" href="/otherside">here</a>
                        <span style="here">🔥</span>
                    </p>
                    <p class="line-height-150 pt-6">
                        Alternatively, check out this
                        <a
                            class="breadcrumb-text"
                            href="https://dani.sfo3.digitaloceanspaces.com/pdf/Dani_Nguyen_Resume.pdf"
                            target="_blank"
                            >mysterious piece of paper
                        </a>
                        <span class="pl-1">👀</span>
                    </p>
                </div>
            </div>
            <div class="column is-5 is-offset-1">
                <img
                    class="zoom"
                    style="border-radius: 4%"
                    src="https://dani.sfo3.digitaloceanspaces.com/img/about_hero_side.png"
                />
            </div>
        </div>
    </div>
</div>
{% endblock %}
