<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&family=Fraunces:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <script
            src="https://kit.fontawesome.com/d800703a1a.js"
            crossorigin="anonymous"
        ></script>
        <title>Dani Nguyen</title>
    </head>
    <body>
        <nav
            class="navbar py-3 is-fixed-top"
            role="navigation"
            aria-label="main navigation"
        >
            <div class="container">
                <div class="pl-3 navbar-brand">
                    <a href="/">
                        <img
                            class="image is-24x24"
                            src="/static/img/logo.png"
                        />
                    </a>
                </div>

                <div class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons font-size-nav">
                                <a class="mr-5" href="/">Work</a>
                                <a class="mx-5" href="/about">About</a>
                                <a class="ml-5" href="/contact">Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div>
            <div class="container my-6"><hr class="hr-nav-no-margin" /></div>
            {% block content %}{% endblock content %}
        </div>
    </body>
    <footer>
        <div class="container my-6"></div>
    </footer>
</html>
