{% extends "base.html" %} {% block content %}
<div class="container mt-4">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <figure class="image is-48x48">
          <img src="{{ url_for('static', path='/img/image_logo.png') }}" />
        </figure>
      </div>
      <div class="level-item">
        <p class="subtitle">DANI NGUYEN</p>
      </div>
    </div>
    <div class="level-right">
      <p class="level-item mx-4"><a>WORK</a></p>
      <p class="level-item mx-4"><a>ABOUT</a></p>
      <p class="level-item mx-4"><a>daninguyen101@gmail.com</a></p>
    </div>
  </nav>
</div>
<div class="container"><hr class="hr-black" /></div>
<div class="container">
  <figure class="image">
    <img
      src="{{ url_for('static', path='/img/image_hi.png') }}"
      style="width: 384px; height: 80px"
    />
  </figure>
  <div class="columns">
    <div class="column">
      <div class="block">
        I’m a UI/UX designer based in the Bay Area, California. I’m an
        empathetic designer inspired to create aesthetically pleasing and
        easy-to-use products from a human-centric approach.
      </div>
    </div>
    <div class="column is-one-quarter"></div>
  </div>
  <div class="container"><hr class="hr-black" /></div>
  <div class="container">
    <div class="columns">
      <div class="column is-two-fifths">
        <div class="block">ROLE 1 / ROLE 2 / ROLE 3</div>
        <h1 class="title is-1">Case Study Title Example</h1>
        <div class="block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation.
        </div>
        <button class="button is-rounded">VIEW CASE STUDY</button>
      </div>
      <div class="column">
        <figure class="image">
          <img src="{{ url_for('static', path='/img/image_laptop.png') }}" />
        </figure>
      </div>
    </div>
  </div>
  <div class="container"><hr class="hr-black" /></div>
  <div class="container">
    <div class="columns">
      <div class="column is-two-fifths">
        <div class="block">ROLE 1 / ROLE 2 / ROLE 3</div>
        <h1 class="title is-1">Case Study Title Example</h1>
        <div class="block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation.
        </div>
        <button class="button is-rounded">VIEW CASE STUDY</button>
      </div>
      <div class="column">
        <figure class="image">
          <img src="{{ url_for('static', path='/img/image_laptop.png') }}" />
        </figure>
      </div>
    </div>
  </div>
  <div class="container"><hr class="hr-black" /></div>
  <div class="container">
    <div class="columns">
      <div class="column is-two-fifths">
        <div class="block">ROLE 1 / ROLE 2 / ROLE 3</div>
        <h1 class="title is-1">Case Study Title Example</h1>
        <div class="block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation.
        </div>
        <button class="button is-rounded">VIEW CASE STUDY</button>
      </div>
      <div class="column">
        <figure class="image">
          <img src="{{ url_for('static', path='/img/image_laptop.png') }}" />
        </figure>
      </div>
    </div>
  </div>
  <div class="container"><hr class="hr-black" /></div>
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title is-1">Sparked an interest?</h1>
        </div>
        <div class="level-item">
          <figure class="image">
            <img
              src="{{ url_for('static', path='/img/image_connect.png') }}"
              style="height: 80px"
            />
          </figure>
        </div>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column">
        <hr class="hr-black" />
        <div class="block">
          <nav class="level">
            <div class="level-left">
              <div class="level-item mx-4">
                <figure class="image is-32x32">
                  <img
                    src="{{ url_for('static', path='/img/icon_mail.svg') }}"
                  />
                </figure>
              </div>
              <div class="level-item mx-4">
                <h2 class="subtitle">daninguyen101@gmail.com</h2>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item mx-4">
                <figure class="image is-32x32">
                  <img
                    src="{{ url_for('static', path='/img/icon_arrow.svg') }}"
                  />
                </figure>
              </div>
            </div>
          </nav>
        </div>
        <hr class="hr-black" />
        <div class="block">
          <nav class="level">
            <div class="level-left">
              <div class="level-item mx-4">
                <figure class="image is-32x32">
                  <img
                    src="{{ url_for('static', path='/img/icon_linkedin.svg') }}"
                  />
                </figure>
              </div>
              <div class="level-item mx-4">
                <h2 class="subtitle">daninguyen-design</h2>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item mx-4">
                <figure class="image is-32x32">
                  <img
                    src="{{ url_for('static', path='/img/icon_arrow.svg') }}"
                  />
                </figure>
              </div>
            </div>
          </nav>
        </div>
        <hr class="hr-black" />
        <div class="block">
          <nav class="level">
            <div class="level-left">
              <div class="level-item mx-4">
                <figure class="image is-32x32">
                  <img
                    src="{{ url_for('static', path='/img/icon_resume.svg') }}"
                  />
                </figure>
              </div>
              <div class="level-item mx-4">
                <h2 class="subtitle">View my resume</h2>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item mx-4">
                <figure class="image is-32x32">
                  <img
                    src="{{ url_for('static', path='/img/icon_arrow.svg') }}"
                  />
                </figure>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="column is-two-fifths"></div>
    </div>
  </div>
  {% endblock %}
</div>
