{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-two-thirds">
            <div class="columns">
                <div class="column is-four-fifths">
                    <div class="block">
                        <p>Hi, I'm Dani</p>
                    </div>
                    <div class="block heading1">
                        <p>I’m a UI/UX designer in the Bay Area, California.</p>
                    </div>
                    <div class="block">
                        <p>
                            Find me sneaking up on people’s problems and turning
                            them into opportunities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <figure class="image">
                <img src="/static/img/welcome.png" />
            </figure>
        </div>
    </div>
    <div class="container"><hr class="hr-section" /></div>
    <div class="container">
        <figure class="image mb-6">
            <a href="/projects/timesheetx">
                <img src="/static/img/project1_banner.png" />
            </a>
        </figure>

        <div class="columns">
            <div class="column is-one-quarter">
                <div class="block body-text-1 mt-5">
                    <p>Research • UX/UI Design</p>
                </div>
            </div>
            <div class="column">
                <h1 class="heading2 mb-5">TimesheetX</h1>
                <div class="block">
                    <p class="line-height-150">
                        Reducing students’ cognitive load for a tedious task by
                        redesigning an out-of-the-box timesheet website.
                    </p>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
    <div class="container"><hr class="hr-section" /></div>
    <div class="container">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="heading2 mb-5">
                        Sparked an interest? Let's connect!
                    </h1>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-two-fifths">
                <hr class="hr-nav-no-margin" />
                <div class="block">
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item mx-4">
                                <figure class="image is-32x32">
                                    <img src="/static/img/icon_mail.svg" />
                                </figure>
                            </div>
                            <div class="level-item mx-4">
                                <h2 class="subtitle">Shoot me an email</h2>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item mx-4">
                                <figure class="image is-32x32">
                                    <img src="/static/img/icon_arrow.svg" />
                                </figure>
                            </div>
                        </div>
                    </nav>
                </div>
                <hr class="hr-nav-no-margin" />
                <div class="block">
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item mx-4">
                                <figure class="image is-32x32">
                                    <img src="/static/img/icon_linkedin.svg" />
                                </figure>
                            </div>
                            <div class="level-item mx-4">
                                <h2 class="subtitle">Add me on LinkedIn</h2>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item mx-4">
                                <figure class="image is-32x32">
                                    <img src="/static/img/icon_arrow.svg" />
                                </figure>
                            </div>
                        </div>
                    </nav>
                </div>
                <hr class="hr-nav-no-margin" />
                <div class="block">
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item mx-4">
                                <figure class="image is-32x32">
                                    <img src="/static/img/icon_resume.svg" />
                                </figure>
                            </div>
                            <div class="level-item mx-4">
                                <h2 class="subtitle">View my resume</h2>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item mx-4">
                                <figure class="image is-32x32">
                                    <img src="/static/img/icon_arrow.svg" />
                                </figure>
                            </div>
                        </div>
                    </nav>
                </div>
                <hr class="hr-nav-no-margin" />
            </div>
        </div>
    </div>
</div>
{% endblock %}
