{% extends "base.html" %} {% block content %}
<div class="container">
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <figure class="image is-24x24">
                    <img src="{{ url_for('static', path='/img/logo.png') }}" />
                </figure>
            </div>
        </div>
        <div class="level-right">
            <p class="level-item font-size-nav" style="margin-right: 40px">
                <a style="color: #ef4423">Work</a>
            </p>
            <p
                class="level-item font-size-nav"
                style="margin-left: 40px; margin-right: 40px"
            >
                About
            </p>
            <p class="level-item font-size-nav" style="margin-left: 40px">
                Contact
            </p>
        </div>
    </nav>
</div>
<div class="container"><hr class="hr-nav" /></div>
<div class="container">
    <div class="columns">
        <div class="column is-two-thirds">
            <div class="block">
                <p>Hi, I'm Dani</p>
            </div>
            <div class="block font-size-heading">
                <p>I’m a UI/UX designer</p>
                <p style="margin-top: 8px">in the Bay Area, California.</p>
            </div>
            <div class="block">
                <p>
                    Find me sneaking up on people’s problems and turning them
                    into opportunities.
                </p>
            </div>
        </div>
        <div class="column">
            <figure class="image">
                <img src="{{ url_for('static', path='/img/welcome.png') }}" />
            </figure>
        </div>
    </div>
    <div class="container"><hr class="hr-section" /></div>
    <div class="container">
        <figure class="image mb-6">
            <img
                src="{{ url_for('static', path='/img/project1_banner.png') }}"
            />
        </figure>

        <div class="columns">
            <div class="column is-one-quarter">
                <div class="block font-size-role mt-5">
                    <p>Research • UX/UI Design</p>
                </div>
            </div>
            <div class="column">
                <h1 class="project-name mb-5">TimesheetX</h1>
                <div class="block">
                    <p class="project-context">
                        Reducing students’ cognitive load for a tedious task by
                        redesigning an out-of-the-box timesheet website.
                    </p>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
    <div class="container"><hr class="hr-section" /></div>
    <div class="container">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="project-name">
                        Sparked an interest? Let's connect!
                    </h1>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-two-fifths">
                <hr class="hr-nav-bottom" />
                <div class="block">
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item mx-4">
                                <figure class="image is-32x32">
                                    <img
                                        src="{{ url_for('static', path='/img/icon_mail.svg') }}"
                                    />
                                </figure>
                            </div>
                            <div class="level-item mx-4">
                                <h2 class="subtitle">Shoot me an email</h2>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item mx-4">
                                <figure class="image is-32x32">
                                    <img
                                        src="{{ url_for('static', path='/img/icon_arrow.svg') }}"
                                    />
                                </figure>
                            </div>
                        </div>
                    </nav>
                </div>
                <hr class="hr-nav-bottom" />
                <div class="block">
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item mx-4">
                                <figure class="image is-32x32">
                                    <img
                                        src="{{ url_for('static', path='/img/icon_linkedin.svg') }}"
                                    />
                                </figure>
                            </div>
                            <div class="level-item mx-4">
                                <h2 class="subtitle">Add me on LinkedIn</h2>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item mx-4">
                                <figure class="image is-32x32">
                                    <img
                                        src="{{ url_for('static', path='/img/icon_arrow.svg') }}"
                                    />
                                </figure>
                            </div>
                        </div>
                    </nav>
                </div>
                <hr class="hr-nav-bottom" />
                <div class="block">
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item mx-4">
                                <figure class="image is-32x32">
                                    <img
                                        src="{{ url_for('static', path='/img/icon_resume.svg') }}"
                                    />
                                </figure>
                            </div>
                            <div class="level-item mx-4">
                                <h2 class="subtitle">View my resume</h2>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item mx-4">
                                <figure class="image is-32x32">
                                    <img
                                        src="{{ url_for('static', path='/img/icon_arrow.svg') }}"
                                    />
                                </figure>
                            </div>
                        </div>
                    </nav>
                </div>
                <hr class="hr-nav-bottom" />
            </div>
        </div>
    </div>
    {% endblock %}
</div>
