{% extends "base.html" %} {% block content %}
<div class="container">
    <figure class="img-full-width">
        <img src="https://via.placeholder.com/1920x640" alt="" />
    </figure>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <div class="columns">
        <div class="column has-text-centered">
            <div class="block heading2">
                <p>Things I do</p>
            </div>
            <div class="block heading2">
                <p>(besides UX)</p>
            </div>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">I make 3D models</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">
                I took an Intro to 3D modelling class in college and never
                looked back.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <figure>
                <img src="https://via.placeholder.com/600x400" alt="" />
            </figure>
        </div>
        <div class="column is-6 is-offset-1">
            <figure>
                <img src="https://via.placeholder.com/600x400" alt="" />
            </figure>
        </div>
    </div>
</div>
{% endblock %}
