{% extends "base.html" %} {% block content %}
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <figure class="img-full-width">
        <img src="/static/img/otherside_hero.png" alt="" />
    </figure>
</div>
<div class="container">
    <div class="columns">
        <div class="column has-text-centered">
            <div class="block heading2">
                <p>Things I do</p>
            </div>
            <div class="block heading2-hero">
                <p>(besides UX)</p>
            </div>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">I make 3D models</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">
                I took an Intro to 3D modelling class in college and never
                looked back. Currently struggling with rigging.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-3 is-offset-1">
            <figure>
                <img
                    class="img-otherside"
                    src="/static/img/otherside_3d1.png"
                    alt="3D 1"
                />
            </figure>
        </div>
        <div class="column is-6">
            <div class="columns">
                <div class="column">
                    <figure>
                        <img
                            class="img-otherside"
                            src="/static/img/otherside_3d2.png"
                            alt="3D 2"
                        />
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img
                            class="img-otherside"
                            src="/static/img/otherside_3d3.png"
                            alt="3D 3"
                        />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">I make NFTs</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">
                I’ve worked as the art director and artist of two NFT projects
                (controversial, I know). But that is to say, it’s so exciting to
                be on board with new projects in a new field to see where it
                would take me. Say hi to the Jolly Fellows, one of my NFT work.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-3 is-offset-1">
            <figure>
                <img
                    class="img-otherside"
                    src="/static/img/otherside_nft1.gif"
                    alt="NFT 1"
                />
            </figure>
        </div>
        <div class="column is-6">
            <figure>
                <img
                    class="img-otherside"
                    src="/static/img/otherside_nft2.png"
                    alt="NFT 2"
                />
            </figure>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">I make home decor</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">
                The durability is still in question but it looks kinda cool.
            </p>
        </div>
        <div class="column is-1"></div>
    </div>
    <div class="columns">
        <div class="column is-3 is-offset-1">
            <figure>
                <img
                    class="img-otherside"
                    src="/static/img/otherside_home1.png"
                    alt="Home 1"
                />
            </figure>
        </div>
        <div class="column is-6">
            <div class="columns">
                <div class="column">
                    <figure>
                        <img
                            class="img-otherside"
                            src="/static/img/otherside_home2.png"
                            alt="Home 2"
                        />
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img
                            class="img-otherside"
                            src="/static/img/otherside_home2.png"
                            alt="Home 3"
                        />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">I make cakes</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">
                I love to bombard my friends with homemade birthday cake for
                their special days.
            </p>
        </div>
        <div class="column is-1"></div>
    </div>
    <div class="columns">
        <div class="column is-3 is-offset-1">
            <figure>
                <img
                    class="img-otherside"
                    src="/static/img/otherside_cake1.png"
                    alt="Cake 1"
                />
            </figure>
        </div>
        <div class="column is-6">
            <div class="columns">
                <div class="column">
                    <figure>
                        <img
                            class="img-otherside"
                            src="/static/img/otherside_cake2.png"
                            alt="Cake 2"
                        />
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img
                            class="img-otherside"
                            src="/static/img/otherside_cake3.png"
                            alt="Cake 3"
                        />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <div class="columns">
        <div class="column is-2 is-offset-1"></div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">
                Thank you for reaching this page. If you want to learn more
                about me or what I’m working on, let’s chat and you might just
                have won yourself a whole birthday cake.
            </p>
        </div>
        <div class="column is-1"></div>
    </div>
</div>
{% endblock %}
