{% extends "base.html" %} {% block content %}
<div class="container my-6"><hr class="hr-section" /></div>
<div class="container pt-3">
    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <div class="block heading1">
                <p>
                    Turning Pins into Purchases with an In-app Shopping Feature
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <figure>
        <img src="/static/img/pinterest_hero.png" alt="Pinterest Hero" />
    </figure>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <figure>
                <img
                    src="/static/img/pinterest_logo.png"
                    alt="Pinterest Logo"
                />
            </figure>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">
                Pinterest is an image-sharing and social media service. For a
                long time, Pinterest has been the starting point for shopping
                inspiration.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading4">The Problem</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">
                Pinterest isn’t living up to its full social commerce potential.
                There is no seamless shopping experience that allows customers
                to buy directly in the app.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading4">My Role</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">Product design • Solo project</p>
            <p class="line-height-180 is-italic has-text-grey">
                Disclaimer: I am not affiliated with TimesheetX. This case study
                is an exploratory learning experience on a product that I care
                about deeply.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading4">Project duration</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">4 weeks • May 2022</p>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-page-break" /></div>
<div class="container">
    <p class="heading2">Diving into an intensive research sprint</p>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">Kickoff — Market research</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180 my-3">
                First, I had to ask myself: “Does a shopping feature align with
                Pinterest’s values?” and “What values does it offer the business
                and its customers?”
            </p>
            <p class="line-height-180 mb-3">
                With that as a starting point, I dived into desk research to
                find answers and frame the scope of the project.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <figure>
                <img
                    class="zoom"
                    src="/static/img/pinterest_kickoff.png"
                    alt="Pinterest Kickoff"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <p class="line-bold line-height-180 mt-6 mb-3">
                Pinterest’s statistics reveal a huge opportunity for social
                commerce.
            </p>
            <p class="line-height-180 mb-3">
                Besides the fact that most users use Pinterest for planning and
                purchase inspiration, over 60% of them are more open to new
                brands and new products; therefore, they are a great audience
                for advertising. Ads also made up two-thirds of Pinterest
                revenue in 2021. Retailers reported a 3x conversion rate and a
                2x return on ad spend on Pinterest.
            </p>
            <p class="line-height-180 mb-3">
                Interestingly, Pinterest launched and terminated an in-app
                shopping feature in 2018. I couldn’t get an answer from
                Pinterest, but I suspect potential causes to be scalability,
                security issues, consideration for brand value, insufficient
                execution, or they tested the feature too soon. Source
            </p>
            <p class="line-bold line-height-180 mt-6 mb-3">
                The feature (done right!) would maintain Pinterest’s brand value
                while decreasing the time it takes from discovery to purchase
                and creating a win-win situation for customers, retailers, and
                Pinterest.
            </p>
            <p class="line-height-180 mb-3">
                With the time budget and user research resources I have for this
                project, I decided to design for customers first.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">Insights from competitors</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">
                Facebook and Instagram’s shopping features constantly popped up
                during my desk research as they are the leading platforms in
                social commerce. I needed to know what they and other Pinterest
                competitors were doing to identify their strengths and
                weaknesses and spot any gaps in the industry.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project-small" /></div>
    <div class="columns">
        <div class="column is-9 is-offset-1">
            <figure>
                <img
                    class="zoom"
                    src="/static/img/pinterest_competitor_insight.png"
                    alt="Competitors Insight"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <p class="line-bold line-height-180 mt-6 mb-3">
                Social commerce is all about user-generated content driving
                community-driven commerce.
            </p>
            <p class="line-height-180">
                Social media platforms with a strong community-driven culture
                perform especially well with social commerce. Although Pinterest
                users (Pinners) don’t interact with each other the way they
                would on other social media platforms, it turns out to be one of
                Pinterest’s key competitive advantages. The platform’s unique
                culture creates a sense of positivity and authenticity essential
                to building a loyal customer base and confident shoppers.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">Insights from customers</p>
        </div>
        <div class="content column is-6 is-offset-1">
            <p class="line-height-180">
                Now that I have armed myself with adequate knowledge about
                social commerce, it was time to get out there and talk with
                customers. I interviewed 8 social media users who regularly shop
                online to find answers to key questions:
            </p>
            <ul>
                <li>What are their social media and shopping habits?</li>
                <li>
                    What are their pain points when shopping online with and
                    without social media?
                </li>
                <li>
                    What are their needs, wants, and expectations for an in-app
                    shopping feature?
                </li>
            </ul>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <figure>
                <img
                    class="zoom"
                    src="/static/img/timesheetx_student_insight.png"
                    alt="Customers Insight"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <p class="line-bold line-height-180 mt-6 mb-3">
                Social commerce could interrupt the social media experience.
            </p>
            <p class="line-height-180 mb-3">
                One insight that stood out from the interviews was that there is
                a gap in devices used for social media and online shopping.
                While all participants use social media (Pinterest included) on
                a mobile device, 6 shop online on a laptop/desktop for ease of
                use. Moreover, products posted on social media often have
                insufficient information that requires further research on the
                web before making purchase decisions.
            </p>
            <p class="line-height-180 mb-3">
                Furthermore, users fear that shopping means more ads. While they
                don’t mind ads so much as if correctly targeted, irrelevant
                marketing content makes the app look like it is trying too hard
                to sell and moving away from the brand’s values.
            </p>
            <p class="line-bold line-height-180 mt-6 mb-3">
                Shoppers shop at only one brand at a time, with a few go-to
                brands.
            </p>
            <p class="line-height-180 mb-3">
                Although inspiring products come everywhere, inconvenience when
                navigating different e-commerce websites and buyer’s guilt when
                making more than one purchase have been stopping customers from
                exploring new brands and products.
            </p>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-page-break" /></div>
<div class="container">
    <p class="heading2">Prioritizing insights to conceptualize</p>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">The user journey</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180 my-3">
                With plenty of insights, I needed to prioritize and synthesize
                them to form a strategy. I recognized a few patterns that were
                later turned into two user personas of “light user” (uses
                Pinterest occasionally for finding inspiration when needed) and
                “heavy user” (uses Pinterest frequently both for inspiration and
                entertainment) and mapped into the user journey. I focused more
                on the heavy user since they are statistically shown to shop
                more often.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-9 is-offset-1">
            <figure>
                <img
                    class="zoom"
                    src="/static/img/pinterest_journey_map.png"
                    alt="Journey Map"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <p class="line-bold line-height-180 mt-6 mb-3">
                Finding size/fit and checkout are the main reasons shoppers
                abandon shopping bags.
            </p>
            <p class="line-height-180 mb-3">
                Among several overlaps in the two personas, difficulties in
                finding size/fit and a complicated checkout process stood out.
                Customers often struggle to find the right size for their body
                from inadequate information and assistance, which causes
                hesitation to buy.
            </p>
            <p class="line-height-180 mb-3">
                On another note, a complicated checkout process is
                time-consuming and tiring and creates an association with a lack
                of security and unprofessionalism.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">From problems to solutions</p>
        </div>
        <div class="content column is-6 is-offset-1">
            <p class="line-height-180 my-3">
                These findings beg the question, how might we ensure customers
                feel safe and confident throughout the shopping process?
            </p>
            <p class="line-bold line-height-180 mt-6 mb-3">
                Design opportunity #1: How might we make the shopping
                undisruptive to the social media shopping experience?
            </p>
            <p class="line-height-180 mb-3">
                Needed to embed my shopping feature seamlessly within the
                current IA, I ran a card sort and organized a high-level app map
                to show where the new features would live. Since the mobile
                device is where the social media experience happens, it is the
                device I designed for.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <figure>
                <img
                    class="zoom"
                    src="/static/img/pinterest_app_map.png"
                    alt="App Map"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="content column is-6 is-offset-4">
            <p class="line-height-180 my-3">
                All shoppable pins will live in a designated “Shop” section that
                is unintrusive to the current browse-and-save user flow. It
                would also create more opportunities for ads and marketing
                content since people who visit this section are ready to explore
                products.
            </p>
            <p class="line-bold line-height-180 mt-6 mb-3">
                Design opportunity #2: How might we ensure users have adequate
                information to feel confident placing an order?
            </p>
            <p class="line-height-180 mb-3">
                I have gathered all product and seller information users need
                for decision-making from user interviews. I would also suggest
                retailers follow a checklist of the required information to
                ensure consistency throughout the app:
            </p>
            <ul>
                <li>Size guide, size chart, and model measurements</li>
                <li>Shipping methods and estimated delivery date</li>
                <li>Return and exchanges policy</li>
            </ul>
            <p class="line-height-180 mb-3">
                On Pinterest’s end, we need to be transparent about data
                security and let them know how their personal information and
                payment information will be treated:
            </p>
            <ul>
                <li>Will the information be shared with sellers?</li>
                <li>How do we aim to protect customers’ data?</li>
                <li>Do we offer buyer protection?</li>
            </ul>
            <p class="line-bold line-height-180 mt-6 mb-3">
                Design opportunity #3: How might we design a simple checkout
                process to avoid abandonment?
            </p>
            <p class="line-height-180 mb-3">
                Here is what a standard checkout process looks like:
            </p>
            <figure>
                <img
                    class="zoom"
                    src="/static/img/pinterest_checkout1.png"
                    alt="Checkout 1"
                />
            </figure>
            <p class="line-height-180 mb-3">
                However, I learned during user interviews that users consider a
                simple checkout to have 3 steps:
            </p>
            <figure>
                <img
                    class="zoom"
                    src="/static/img/pinterest_checkout2.png"
                    alt="Checkout 2"
                />
            </figure>
            <p class="line-height-180 mb-3">
                From here, I got the idea to design a 3-page checkout to
                abstract the process while still having all the required content
                in a clear visual hierarchy.
            </p>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-page-break" /></div>
<div class="container">
    <p class="heading2">Working with a design system</p>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">UI design</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180 my-3">
                Although Pinterest’s Gestalt design system is published online,
                it’s no copy-paste for people outside the team. So how can I
                design efficiently without the original design file to steal
                from? The old style tile comes to the rescue! After gathering
                all elements I need from the wireframes and creating them
                according to Pinterest’s design guide, I’m ready to go.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-9 is-offset-1">
            <figure>
                <img
                    class="zoom"
                    src="/static/img/pinterest_style_title.png"
                    alt="Style Title"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <p class="line-height-180 my-3">
                During this project, I grew to appreciate design systems. Not
                only does it make keeping the feature's interface consistent
                with the app less challenging, but it also allows me to allocate
                more time and head space to the feature's functionality.
            </p>
            <p class="line-height-180 mb-3">
                After my vision came to life, it was ready for testing and
                iterating for the “final" design.
            </p>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-page-break" /></div>
<div class="container">
    <p class="heading2">The results</p>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns is-flex is-vcentered">
        <div class="column is-4 is-offset-1">
            <video class="video-demo" controls>
                <source
                    src="/static/video/pinterest_video1.mov"
                    type="video/mp4"
                />
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="content column is-5 is-offset-1">
            <p class="line-height-180 my-3 heading3">
                An unintrusive social commerce experience
            </p>
            <p class="line-height-180 mb-3">
                The shopping feature lies seamlessly within the app that won’t
                interfere with users’ social media experience.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project-small" /></div>
    <div class="columns is-flex is-vcentered">
        <div class="content column is-5 is-offset-1">
            <p class="line-height-180 my-3 heading3">
                Customized categories and filters for Pinners
            </p>
            <p class="line-height-180 mb-3">
                Shopping categories are customized to Pinterest’s most searched
                items to give users prominent access to wanted products.
            </p>
        </div>
        <div class="column is-4 is-offset-1">
            <video class="video-demo" controls>
                <source
                    src="/static/video/pinterest_video2.mov"
                    type="video/mp4"
                />
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project-small" /></div>
    <div class="columns is-flex is-vcentered">
        <div class="column is-4 is-offset-1">
            <video class="video-demo" controls>
                <source
                    src="/static/video/pinterest_video3.mov"
                    type="video/mp4"
                />
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="content column is-5 is-offset-1">
            <p class="line-height-180 my-3 heading3">
                Shopping confidently without leaving the app
            </p>
            <p class="line-height-180 mb-3">
                Each product comes with adequate information and sizing
                assistance to help users make purchase decisions effortlessly.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project-small" /></div>
    <div class="columns is-flex is-vcentered">
        <div class="content column is-5 is-offset-1">
            <p class="line-height-180 my-3 heading3">
                Checkout quickly and securely
            </p>
            <p class="line-height-180 mb-3">
                Users can order multiple products from different sellers while
                checkout only once with a simple 3-step checkout.
            </p>
            <p class="line-height-180 mb-3">
                Shipping and payment information is presented transparently to
                ease any security concerns.
            </p>
        </div>
        <div class="column is-4 is-offset-1">
            <video class="video-demo" controls>
                <source
                    src="/static/video/pinterest_video4.mov"
                    type="video/mp4"
                />
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-page-break" /></div>
<div class="container">
    <p class="heading2">Last thoughts</p>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">If I had more time, I would</p>
        </div>
        <div class="content column is-6 is-offset-1">
            <ul>
                <li>
                    Talk to more Pinners to get more unique insights into
                    Pinterest's culture and values to create a more customized
                    experience.
                </li>
                <li>
                    Conduct more user testings and keep refining the design
                    based on test results
                </li>
            </ul>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project-small" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">Brief reflection</p>
        </div>
        <div class="content column is-6 is-offset-1">
            <p class="line-height-180 my-3">
                This project has led me to consider not only users’ goals but
                also those of Pinterest and retailers. From researching
                Pinterest’s business model, I was able to make more efficient
                design decisions that would satisfy the common goals of the
                users, the company, and the clients.
            </p>
            <p class="line-height-180 mb-3">
                During the design process, I wished I had a chance to talk to
                people from Pinterest to verify my hypotheses and gain insights
                that could change my design decisions. This has further inspired
                me to be a part of a team where we can grow while crafting rich
                and impactful experiences.
            </p>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <figure class="img-full-width">
        <img src="/static/img/pinterest_result_footer.png" alt="Footer" />
    </figure>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <p class="heading2 has-text-centered">More case studies</p>
    <hr class="hr-section-project" />
    <div class="columns">
        <div class="column">
            <figure class="thumbnail-hover-wrapper">
                <a href="/projects/timesheetx">
                    <img
                        src="/static/img/timesheetx_thumbnail_normal.png"
                        alt="Thumbnail Normal"
                    />
                    <img
                        src="/static/img/timesheetx_thumbnail_hover.png"
                        class="thumbnail-hover"
                        alt="Thumbnail Hover"
                    />
                </a>
            </figure>
        </div>
        <div class="column">
            <figure class="thumbnail-hover-wrapper">
                <img
                    src="/static/img/giant_thumbnail_normal.png"
                    alt="Thumbnail Normal"
                />
                <img
                    src="/static/img/giant_thumbnail_hover_tmp.png"
                    class="thumbnail-hover"
                    alt="Thumbnail Hover"
                />
            </figure>
        </div>
    </div>
</div>
{% endblock %}
