{% extends "base.html" %} {% block content %}
<div class="container my-6"><hr class="hr-section" /></div>
<div class="section">
    <div class="container pt-3">
        <div class="columns">
            <div class="column">
                <div class="block has-text-centered">
                    <p class="heading1-cs heading3-cs-giant">
                        Simplifying Crypto Investing for Beginners
                    </p>
                    <p class="line-height-180">
                        Giant (pre-seed, early-stage startup) · Solo UX designer
                        · 4 weeks
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <figure>
                    <img
                        id="hero-giant-mobile"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_hero.png"
                        alt="Giant Hero"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-giant">Context</p>
            </div>
            <div class="column is-6">
                <p class="line-height-180">
                    Giant is a startup in stealth mode with a mission to
                    simplify decentralized finance (DeFi) for beginners. Giant
                    founders see a problem in the currently complicated crypto
                    investing process that requires understanding and using
                    multiple platforms.
                </p>
                <p class="line-height-180 mt-6">
                    *This is an ongoing project; this case study captures the
                    early phase of designing the MVP.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <p>Design process ↓</p>
                <hr class="hr-page-break-with-text" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-giant">
                    Insights from founders
                </p>
            </div>
            <div class="column is-6">
                <p class="line-height-180">
                    To start, I talked to the startup founders to learn more
                    about Giant, its mission, and any potential design and
                    technical constraints we might have.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_insights_founders.png"
                        alt="Giant Insights From Founders"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-4">
                <p class="line-height-180">
                    In short, Giant wants to be the middle-man that brings users
                    the freedom and variety of decentralized exchanges (DEX) and
                    the convenience and security of centralized exchanges (CEX).
                    It also allows customers to track and earn interests from
                    their investments in the app without using separate tracking
                    and earning services.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-4">
                <p class="line-height-180">
                    From our early conversations, we established that our MVP
                    would target beginner and intermediate buyers while focusing
                    on 3 main stages of the investing process: buying, tracking,
                    and earning. As a special request, the founders would like
                    to design dark mode first!
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-giant">Insights from users</p>
            </div>
            <div class="column is-6">
                <p class="line-height-180">
                    I interviewed 5 users who fit our target audience to
                    understand their views on investing and crypto. While all
                    users only have one primary motivation, which is making
                    money, they have 99 reasons stopping them from investing in
                    crypto.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_insights_users.png"
                        alt="Giant Insights From Users"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-giant">Meet the users</p>
            </div>
            <div class="column is-6">
                <p class="line-height-180">
                    Supported by data from the user interviews, I developed two
                    user personas as reference points for design decisions
                    moving forward and assist the ongoing discussion with the
                    stakeholders.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_meet_user1.png"
                        alt="Giant Meet User 1"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-4">
                <p class="line-height-180">
                    Christina is a crypto-newbie who needs a helping hand to
                    start learning about crypto investing.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_meet_user2.png"
                        alt="Giant Meet User 2"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-4">
                <p class="line-height-180">
                    Eric is an intermediate retail investor who wants a
                    hand-free investing and earning process.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-giant">MVP definition</p>
            </div>
            <div class="column is-6">
                <p class="line-height-180">
                    Since more ideas have been evoked after research, we used a
                    MoSCoW diagram to identify which ones will be in the scope
                    of our MVP. During this phase of the product, we focus on
                    the Must-have and Should-have.
                </p>
                <p class="line-height-180 mt-6">
                    We also agreed to have an educational feature in the final
                    product and will continue to explore more ideas for it,
                    though it would not be the focus for the MVP.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_mvp_definition.png"
                        alt="Giant MVP Definition"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-giant">
                    Information architecture
                </p>
            </div>
            <div class="column is-6">
                <p class="line-height-180">
                    From the functionality scope, I created a high-level app map
                    to visualize the placement of the main features.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_info_architecture.png"
                        alt="Giant Info Architecture"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-4">
                <p class="line-height-180">
                    After, I drafted our ideal user flows for the important
                    sections: buying flow, track screens, and earn screens. We
                    also discussed whether to design an onboarding flow during
                    this phase. We eventually decided to experiment with waiting
                    until after a few first usability tests to use the test
                    results to guide our onboarding ideation.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-giant">Buying flow</p>
            </div>
            <div class="column is-6">
                <p class="line-height-180">
                    Among several ideas for this part, we decided to move
                    forward with the one below, where the buying process is
                    broken down into clear steps, each of which has its own
                    screen to deliver clear communication with users.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_buying_flow.png"
                        alt="Giant Buying Flow"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-giant">Logo & Style</p>
            </div>
            <div class="column is-6">
                <p class="line-height-180">
                    Giant was created with a mission to simplify crypto to
                    empower everyone to grow their financial knowledge and
                    personal wealth. So our inspiration for the brand design
                    revolved around 3 keywords: growth, wealth, and
                    friendliness.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_logo_style1.png"
                        alt="Giant Logo & Style 1"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_logo_style2.png"
                        alt="Giant Logo & Style 2"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-giant">Testing & Iteration</p>
            </div>
            <div class="column is-6">
                <p class="line-height-180">
                    I tested the first MVP version with 6 users who fit the
                    target audience. Overall, they responded well to the
                    prototype and finished the given tasks. They also especially
                    like the Resources feature. Nevertheless, there is still
                    room for improvement. Here are some major changes we made:
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-4 is-offset-2">
                <p class="heading3-cs heading3-cs-giant">
                    1. Bottom navigation & transactions
                </p>
                <p class="line-height-180 mt-6">
                    Although we thought naming a tab “Buy” would provide a clear
                    guide for users to access market assets, it confuses them
                    about the other transactions (buy, deposit, and withdraw)
                    whereabouts. So, we renamed it “Market” and presented
                    transaction types more prominently.
                </p>
            </div>
            <div class="column is-4">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_testing1.png"
                        alt="Giant Testing 1"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-4 is-offset-2">
                <p class="heading3-cs heading3-cs-giant">2. Home screen</p>
                <p class="line-height-180 mt-6">
                    Instead of a short list of assets on the market, our users
                    prefer to have prominent access to their holdings. They want
                    to know how their investments perform the moment entering
                    the app. So, we swap out the “Market” section for “Your
                    investments.”
                </p>
            </div>
            <div class="column is-4">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_testing2.png"
                        alt="Giant Testing 2"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-5 is-offset-2">
                <p class="heading3-cs heading3-cs-giant">3. Buying flow</p>
                <p class="line-height-180 mt-6">
                    Since earning options require extensive research for
                    beginners to understand, we decided not to let users decide.
                    Instead, we will automatically update them with the best
                    options and provide the freedom to turn on/off earnings.
                </p>
            </div>
            <div class="column is-3">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_testing3.gif"
                        alt="Giant Testing 3"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-giant pt-3">Next steps</p>
            </div>
            <div class="column is-6 content">
                <ul>
                    <li>
                        We will adopt a Nickel Tour and a Checklist for
                        onboarding. The Nickel Tour provides a quick and
                        straightforward introduction to Giant and how it works,
                        while a checklist will be a direct guide for users to
                        get started using the app.
                    </li>
                    <li>
                        Since users responded very positively to learning
                        resources, we will focus more on this part and explore
                        ideas to make learning fun! We have in mind a learning
                        curriculum, taking quizzes and getting rewarded, and
                        sharing learning experiences.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-offset-2">
                <p class="heading3-cs heading3-cs-giant">
                    Stay tuned for Giant updates!
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <p>More case studies ↓</p>
                <hr class="hr-page-break-with-text" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-5 is-offset-1">
                <figure class="thumbnail-hover-wrapper">
                    <a href="/projects/pinterest">
                        <img
                            src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_thumbnail_normal.png"
                            alt="Thumbnail Normal"
                        />
                        <img
                            src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_thumbnail_hover.png"
                            class="thumbnail-hover"
                            alt="Thumbnail Hover"
                        />
                    </a>
                </figure>
            </div>
            <div class="column is-5">
                <figure class="thumbnail-hover-wrapper">
                    <a href="/projects/timesheetx">
                        <img
                            src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_thumbnail_normal.png"
                            alt="Thumbnail Normal"
                        />
                        <img
                            src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_thumbnail_hover.png"
                            class="thumbnail-hover"
                            alt="Thumbnail Hover"
                        />
                    </a>
                </figure>
            </div>
        </div>
    </div>
</div>
<script>
    // const heroTimesheetXMobile = document.getElementById(
    //     "hero-timesheetx-mobile"
    // );
    // const updateResultTimesheetX = () => {
    //     if (window.innerWidth <= 768) {
    //         heroTimesheetXMobile.src =
    //             "https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_thumbnail.png";
    //     } else {
    //         heroTimesheetXMobile.src =
    //             "https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_hero.png";
    //     }
    // };

    // // Init
    // updateResultTimesheetX();

    // window.addEventListener("resize", function (event) {
    //     updateResultTimesheetX();
    // });
</script>
{% endblock %}
