{% extends "base.html" %} {% block content %}
<div class="container my-6"><hr class="hr-section" /></div>
<div class="section">
    <div class="container pt-3">
        <div class="columns">
            <div class="column">
                <div class="block has-text-centered">
                    <p class="heading1-cs heading3-cs-pinterest">
                        Shopping without leaving Pinterest
                    </p>
                    <p class="line-height-180">
                        Pinterest (conceptual project) · Product design · 4
                        weeks
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <figure>
            <img
                id="hero-pinterest-mobile"
                src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_hero.png"
                alt="Pinterest Hero"
            />
        </figure>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">
                    Context & Problem
                </p>
            </div>
            <div class="column is-6">
                <p class="line-height-180">
                    <a
                        href="https://www.pinterest.com/"
                        target="_blank"
                        style="text-decoration: underline"
                        >Pinterest</a
                    >
                    is an image-sharing and social media service. For a long
                    time, it has been the starting point for shopping
                    inspiration for hundreds of millions of users every month.
                </p>
                <p class="line-height-180 mt-6">
                    Pinterest has an opportunity to offer users a seamless
                    shopping experience. The current user flow requires
                    customers to leave Pinterest to visit sellers’ websites,
                    potentially exposing them to unfamiliar websites' usability
                    problems.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_context.png"
                        alt="Pinterest Context"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">
                    Solution & Results
                </p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    I conducted research and designed an in-app shopping feature
                    that allows customers to buy products from multiple sellers
                    at once.
                </p>
                <ul>
                    <li>
                        100% of testing users completed given tasks, saying it
                        felt convenient and engaging.
                    </li>
                    <li>
                        62% of testing users said they would use this feature in
                        real life.
                    </li>
                    <li>
                        50% of testing Pinners said they would recommend this
                        feature to their Pinner friends.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="container"><hr class="hr-section-project" /></div> -->
    <!-- <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-4 is-offset-2">
                <video class="video-demo" controls>
                    <source
                        src="https://dani.sfo3.digitaloceanspaces.com/video/pinterest_video1.mov"
                        type="video/mp4"
                    />
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content column is-4">
                <p
                    class="line-height-180 my-3 heading3-cs heading3-cs-pinterest"
                >
                    An unintrusive social commerce experience
                </p>
                <p class="line-height-180 mb-3">
                    The shopping feature lies seamlessly within the app that
                    won’t interfere with users’ social media experience.
                </p>
            </div>
        </div>
        <div class="container"><hr class="hr-section-project-small" /></div>
        <div
            id="result-pinterest-mobile1"
            class="container columns is-vcentered"
        >
            <div class="column is-4 is-offset-2">
                <video class="video-demo" controls>
                    <source
                        src="https://dani.sfo3.digitaloceanspaces.com/video/pinterest_video2.mov"
                        type="video/mp4"
                    />
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content column is-4">
                <p
                    class="line-height-180 my-3 heading3-cs heading3-cs-pinterest"
                >
                    Customized categories and filters for Pinners
                </p>
                <p class="line-height-180 mb-3">
                    Shopping categories are customized to Pinterest’s most
                    searched items to give users prominent access to wanted
                    products.
                </p>
            </div>
        </div>
        <div
            id="result-pinterest-desktop1"
            class="container columns is-vcentered"
        >
            <div class="content column is-4 is-offset-2">
                <p
                    class="line-height-180 my-3 heading3-cs heading3-cs-pinterest"
                >
                    Customized categories and filters for Pinners
                </p>
                <p class="line-height-180 mb-3">
                    Shopping categories are customized to Pinterest’s most
                    searched items to give users prominent access to wanted
                    products.
                </p>
            </div>
            <div class="column is-4">
                <video class="video-demo" controls>
                    <source
                        src="https://dani.sfo3.digitaloceanspaces.com/video/pinterest_video2.mov"
                        type="video/mp4"
                    />
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="container"><hr class="hr-section-project-small" /></div>
        <div class="columns is-vcentered">
            <div class="column is-4 is-offset-2">
                <video class="video-demo" controls>
                    <source
                        src="https://dani.sfo3.digitaloceanspaces.com/video/pinterest_video3.mov"
                        type="video/mp4"
                    />
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content column is-4">
                <p
                    class="line-height-180 my-3 heading3-cs heading3-cs-pinterest"
                >
                    Shopping confidently without leaving the app
                </p>
                <p class="line-height-180 mb-3">
                    Each product comes with adequate information and sizing
                    assistance to help users make purchase decisions
                    effortlessly.
                </p>
            </div>
        </div>
        <div class="container"><hr class="hr-section-project-small" /></div>
        <div id="result-pinterest-mobile2" class="columns is-vcentered">
            <div class="column is-4 is-offset-2">
                <video class="video-demo" controls>
                    <source
                        src="https://dani.sfo3.digitaloceanspaces.com/video/pinterest_video4.mov"
                        type="video/mp4"
                    />
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content column is-4">
                <p
                    class="line-height-180 my-3 heading3-cs heading3-cs-pinterest"
                >
                    Checkout quickly and securely
                </p>
                <p class="line-height-180 mb-3">
                    Users can order multiple products from different sellers
                    while checkout only once with a simple 3-step checkout.
                </p>
                <p class="line-height-180 mb-3">
                    Shipping and payment information is presented transparently
                    to ease any security concerns.
                </p>
            </div>
        </div>
        <div id="result-pinterest-desktop2" class="columns is-vcentered">
            <div class="content column is-4 is-offset-2">
                <p
                    class="line-height-180 my-3 heading3-cs heading3-cs-pinterest"
                >
                    Checkout quickly and securely
                </p>
                <p class="line-height-180 mb-3">
                    Users can order multiple products from different sellers
                    while checkout only once with a simple 3-step checkout.
                </p>
                <p class="line-height-180 mb-3">
                    Shipping and payment information is presented transparently
                    to ease any security concerns.
                </p>
            </div>
            <div class="column is-4">
                <video class="video-demo" controls>
                    <source
                        src="https://dani.sfo3.digitaloceanspaces.com/video/pinterest_video4.mov"
                        type="video/mp4"
                    />
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div> -->
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <p>Design process ↓</p>
                <hr class="hr-page-break-with-text" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">Market research</p>
            </div>
            <div class="column is-6">
                <p class="line-height-180">
                    I learned that Pinterest’s business model heavily relies on
                    user interactions with retailer ads to eventually convert to
                    buyers.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_market_research1.png"
                        alt="Pinterest Market Research 1"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-4">
                <p class="line-height-180">
                    Compare to other big social media platforms like Instagram
                    and Facebook (who also put a focus on social commerce),
                    Pinterest’s unique culture creates a sense of positivity and
                    authenticity that is essential to creating confident
                    shoppers. Having a seamless shopping experience would save
                    users’ time and effort, help retailers get sales quicker,
                    and increase Pinterest’s revenue.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_market_research2.png"
                        alt="Pinterest Market Research 2"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-4">
                <p class="line-height-180">
                    Pinterest can be arguably considered a unique platform and
                    not social media. But since Pinterest shares many users with
                    the 3 platforms above, I still looked into their social
                    commerce features. Social commerce has seen a considerable
                    rise, especially with the pandemic, and platforms focus
                    strongly on online shopping.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">User Insights</p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    To find out what would improve the shopping experience on
                    Pinterest, I interviewed 10 social media users (7 use
                    Pinterest) who regularly shop online.
                </p>
                <p class="line-height-180 mb-3">
                    First, I see a shift in user behaviors with online shopping:
                </p>
                <ul>
                    <li>
                        All 10 users have discovered and saved new brands and
                        products on social media. Among them, 4 have bought
                        directly from Instagram or Facebook on the phone.
                    </li>
                    <li>
                        6 users recently online shopped on the phone for the
                        first time.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_user_insights.png"
                        alt="Pinterest User Insights"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="content column is-6 is-offset-4">
                <p class="line-height-180">
                    Here are the most common insights:
                </p>
                <ul>
                    <li>
                        “I have to search for specific things to see the Product
                        Pins [on Pinterest].”
                    </li>
                    <li>
                        “... I haven’t bought anything [from social media]
                        because it’s inconvenient to navigate new websites on
                        the phone.”
                    </li>
                    <li>
                        “... I try to buy everything I need from one seller
                        because I feel less guilty making one purchase and only
                        have to check out once. ”
                    </li>
                    <li>
                        “Complicated checkout makes me abandon the shopping
                        bag.”
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">
                    Goal & Objectives
                </p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    From a pretty open-ended goal, I got a clearer picture of
                    the project after synthesizing research data.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_goal.png"
                        alt="Pinterest Goal"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="content column is-6 is-offset-4">
                <p class="line-height-180">
                    From here, it became clear that an in-app shopping feature
                    would solve users' problems navigating unfamiliar e-commerce
                    sites by creating a unified experience across all sellers.
                    Offering users quick access to products while allowing them
                    to shop all products at once with a simple checkout process
                    would improve Pinterest's shopping experience.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="content column is-6 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">
                    1. Improving product navigation
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_goal_nav.png"
                        alt="Pinterest Goal Nav"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">Shop tab</p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    I decided to replace Messages and Updates with a dedicated
                    Shop tab with a product search bar for several reasons:
                </p>
                <ul>
                    <li>It provides clear and prominent access to products.</li>
                    <li>
                        Pinterest has a large selection of products due to its
                        primary usage for finding new products and shopping
                        inspiration.
                    </li>
                    <li>
                        I learned from user interviews that users rarely chat or
                        view updates on Pinterest.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_goal_shop_tab.png"
                        alt="Pinterest Goal Shop Tab"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">Categories</p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    Since Categories is one of the most used features for
                    product navigation, I ideated different layouts to display
                    this information.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_goal_categories.png"
                        alt="Pinterest Goal Categories"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="content column is-6 is-offset-4">
                <ul>
                    <li>
                        Option 1 displays the Category menu and Shop-by
                        categories in a carousel as a part of the sticky top
                        nav.
                    </li>
                    <li>
                        Option 2 displays the options in cards as a part of the
                        content.
                    </li>
                    <li>
                        Option 3 stores categories in a hamburger menu similar
                        to a standard e-commerce site on mobile view. The
                        Shop-by categories are removed and will be included in
                        sorts & filters once users search for something.
                    </li>
                </ul>
                <p class="line-height-180">
                    After testing with 8 users, option 1 won with 5 votes
                    because:
                </p>
                <ul>
                    <li>
                        It displays all options clearly without taking much
                        screen space.
                    </li>
                    <li>
                        People like to have these options available as they
                        browse.
                    </li>
                    <li>
                        While a category hamburger menu is a standard for an
                        e-commerce site, it might not be easily recognizable in
                        the app context.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="content column is-6 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">
                    2. Allowing to shop from multiple sellers at once
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_goal_shop_multiple.png"
                        alt="Pinterest Goal Shop Multiple"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">Shopping bag</p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    I had to consider a logical and scalable design to display
                    products when a user buys multiple products from multiple
                    sellers. Therefore, I also sketched out different layouts to
                    test with users.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_goal_shopping_bag.png"
                        alt="Pinterest Goal Shopping Bag"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="content column is-6 is-offset-4">
                <ul>
                    <li>
                        Option 1 organizes products by the sellers. Product
                        information is visible and editable as users often make
                        changes in the shopping bag.
                    </li>
                    <li>
                        Option 2 also groups products by sellers but only
                        displays product thumbnails for memorability purposes.
                        Users can tab on each group to enter another screen
                        where they can view and edit product details.
                    </li>
                    <li>
                        Option 3 puts a visual emphasis on Products and lists
                        out all products with the seller's name below each.
                    </li>
                </ul>
                <p class="line-height-180">
                    After testing, option 1 won with 7 votes because:
                </p>
                <ul>
                    <li>
                        Since all products from one seller will be shipped
                        together, it makes more sense that the visual hierarchy
                        also translates that.
                    </li>

                    <li>
                        Grouping products by sellers give them a sense of
                        organization.
                    </li>
                    <li>
                        They prefer to be able to edit products quickly without
                        extra tapping.
                    </li>
                </ul>
                <p class="line-height-180">
                    Since the checkout displays have similar results, I won't
                    discuss them in detail here.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="content column is-6 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">
                    3. Defining a simple checkout flow
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_goal_checkout_flow.png"
                        alt="Pinterest Goal Checkout Flow"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">3-step checkout</p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    I learned from users that although they expect to go through
                    all steps of a standard checkout flow, they conceptualize it
                    as having 3 steps. From here, I designed a checkout process
                    according to this finding.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_goal_3_step_checkout.png"
                        alt="Pinterest Goal 3-Step Checkout"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">4. Testing</p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    After turning all wireframes into high-fidelity prototypes
                    using Pinterest Gestalt design system, I tested it with 8
                    users using the following metrics:
                </p>
                <ul>
                    <li>Task completion rate</li>
                    <li>User rating of ease of navigation</li>
                    <li>User rating of comfort of placing an order</li>
                </ul>
                <p class="line-height-180">
                    Overall, the feature received very positive feedback and
                    there wasn't any major problems.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_goal_testing.png"
                        alt="Pinterest Goal Testing"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="content column is-6 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">
                    Try it yourself!
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <iframe
                    style="width: 100%; height: 800"
                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FUfDpCVl1znqYpjN2ksYQIw%2FPinterest_Shopping_Feature%3Fnode-id%3D41%253A4962%26scaling%3Dscale-down%26page-id%3D36%253A1467%26starting-point-node-id%3D41%253A4962%26show-proto-sidebar%3D1"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <p>Learnings ↓</p>
                <hr class="hr-page-break-with-text" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">Design system</p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    During this project, I learned the benefit of using design
                    patterns to communicate visual hierarchy and grew to
                    appreciate design systems. It makes keeping the feature's
                    interface consistent with the app less challenging and
                    allows me to design the interface more quickly and spend
                    more time on small tests. The latter has proven very
                    effective as the MVP didn't have any major problems right
                    after the first usability test.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-pinterest">Start small</p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    When I started this project, it felt overwhelming. Pinterest
                    has impressive statistics with hundreds of millions of users
                    a month. It led me to consider not only users' goals but
                    also those of Pinterest and retailers. By taking the time to
                    synthesize research data and prioritizing the right focus
                    areas, I could design a successful feature MVP with fewer
                    iterations needed.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <p>More case studies ↓</p>
                <hr class="hr-page-break-with-text" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-5 is-offset-1">
                <figure class="thumbnail-hover-wrapper">
                    <a href="/projects/timesheetx">
                        <img
                            src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_thumbnail_normal.png"
                            alt="Thumbnail Normal"
                        />
                        <img
                            src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_thumbnail_hover.png"
                            class="thumbnail-hover"
                            alt="Thumbnail Hover"
                        />
                    </a>
                </figure>
            </div>
            <div class="column is-5">
                <figure class="thumbnail-hover-wrapper">
                    <img
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_thumbnail_normal.png"
                        alt="Thumbnail Normal"
                    />
                    <img
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_thumbnail_hover_tmp.png"
                        class="thumbnail-hover"
                        alt="Thumbnail Hover"
                    />
                </figure>
            </div>
        </div>
    </div>
</div>
<script>
    const heroPinterestMobile = document.getElementById(
        "hero-pinterest-mobile"
    );
    // const resultPinterestMobile1 = document.getElementById(
    //     "result-pinterest-mobile1"
    // );
    // const resultPinterestDesktop1 = document.getElementById(
    //     "result-pinterest-desktop1"
    // );
    // const resultPinterestMobile2 = document.getElementById(
    //     "result-pinterest-mobile2"
    // );
    // const resultPinterestDesktop2 = document.getElementById(
    //     "result-pinterest-desktop2"
    // );

    const updateResultPinterest = () => {
        if (window.innerWidth <= 768) {
            heroPinterestMobile.src =
                "https://dani.sfo3.digitaloceanspaces.com/img/pinterest_thumbnail.png";
        } else {
            heroPinterestMobile.src =
                "https://dani.sfo3.digitaloceanspaces.com/img/pinterest_hero.png";
        }

        // if (window.innerWidth <= 866) {
        //     resultPinterestMobile1.style.display = "";
        //     resultPinterestMobile2.style.display = "";
        //     resultPinterestDesktop1.style.display = "none";
        //     resultPinterestDesktop2.style.display = "none";
        // } else {
        //     resultPinterestMobile1.style.display = "none";
        //     resultPinterestMobile2.style.display = "none";
        //     resultPinterestDesktop1.style.display = "";
        //     resultPinterestDesktop2.style.display = "";
        // }
    };

    // Init
    updateResultPinterest();

    window.addEventListener("resize", function (event) {
        updateResultPinterest();
    });
</script>
{% endblock %}
