{% extends "base.html" %} {% block content %}
<div class="container"><hr class="hr-section" /></div>
<div class="container">
    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <div class="block heading1">
                <p>
                    Turning Pins into Purchases with an In-app Shopping Feature
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <figure>
        <img src="/static/img/pinterest_hero.png" alt="Pinterest Hero" />
    </figure>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <figure>
                <img
                    src="/static/img/pinterest_logo.png"
                    alt="Pinterest Logo"
                />
            </figure>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">
                Pinterest is an image-sharing and social media service. For a
                long time, Pinterest has been the starting point for shopping
                inspiration.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading4">The Problem</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">
                Pinterest isn’t living up to its full social commerce potential.
                There is no seamless shopping experience that allow customers to
                buy directly in the app.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading4">My Role</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">UX/UI Designer, individual project</p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading4">Project duration</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">4 weeks/80 hours</p>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-page-break" /></div>
<div class="container">
    <p class="heading2">Diving into an intensive research sprint</p>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">Kickoff</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180 my-3">
                First, I had to ask myself: “Does a shopping feature align with
                Pinterest’s values?” and “What values does it offer the business
                and its customers?”
            </p>
            <p class="line-height-180 mb-3">
                With that as a starting point, I dived into desk research to
                find answers and frame the scope of the project.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <figure>
                <img
                    class="zoom"
                    src="/static/img/pinterest_kickoff.png"
                    alt="Pinterest Kickoff"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <p class="line-bold line-height-180 my-3">
                Pinterest’s statistics reveal a huge opportunity for social
                commerce.
            </p>
            <p class="line-height-180 mb-3">
                Besides the fact that most users use Pinterest for planning and
                purchase inspiration, over 60% of them are more open to new
                brands and new products; therefore, they are a great audience
                for advertising. Ads also made up two-thirds of Pinterest
                revenue in 2021. For retailers, they reported a 3x conversion
                rate and 2x return on ad spend on Pinterest. Source
            </p>
            <p class="line-height-180 mb-3">
                Interestingly, Pinterest has launched and terminated an in-app
                shopping feature in 2018. I couldn’t get an answer from
                Pinterest, but I suspect potential causes to be scalability,
                security issues, consideration for brand value, insufficient
                execution, or they simply tested the feature too soon. Source
            </p>
            <p class="line-bold line-height-180 mb-3">
                The feature (done right!) would maintain Pinterest’s brand value
                while decrease the time it takes from discovery to purchase and
                create a win-win-win situation for customers, retailers, and
                Pinterest.
            </p>
            <p class="line-height-180 mb-3">
                With the time budget and user research resources I have for this
                project, I decided to design for customers first.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">Insights from competitors</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">
                Facebook and Instagram’s shopping features constantly popped up
                during my desk research as they are the leading platforms in
                social commerce. I needed to know what they and other
                Pinterest’s competitors are doing to identify their strengths
                and weaknesses and spot any gaps in the industry.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project-small" /></div>
    <div class="columns">
        <div class="column is-9 is-offset-1">
            <figure>
                <img
                    class="zoom"
                    src="/static/img/pinterest_competitor_insight.png"
                    alt="Competitors Insight"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <p class="line-bold line-height-180 my-3">
                Social commerce is all about user-generated content driving
                community-driven commerce.
            </p>
            <p class="line-height-180">
                Social media platforms that have a strong community-driven
                culture performs especially well with social commerce. Although
                Pinterest users (Pinners) don’t interact with each other the way
                they would on other social media platforms, it turns out to be
                one of Pinterest’s key competitive advantage. The platform’s
                unique culture creates a sense of positivity and authenticity
                that is essential to building a loyal customer base and
                confident shoppers.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">Insights from customers</p>
        </div>
        <div class="content column is-6 is-offset-1">
            <p class="line-height-180">
                Now that I have armed myself with adequate knowledge about
                social commerce, it was time to get out there and talk with
                customers. I interviewed 8 social media users who regularly shop
                online to find answers to key questions:
            </p>
            <ul>
                <li>What are their social media and shopping habits?</li>
                <li>
                    What are their pain points when online shopping with and
                    without social media?
                </li>
                <li>
                    What are their needs, wants, and expectation for an in-app
                    shopping feature?
                </li>
            </ul>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <figure>
                <img
                    class="zoom"
                    src="/static/img/timesheetx_student_insight.png"
                    alt="Customers Insight"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <p class="line-bold line-height-180 my-3">
                Social commerce could interrupt the social media experience.
            </p>
            <p class="line-height-180 mb-3">
                One insight stood out from the interviews was that there is a
                gap in devices used for social media and online shopping. While
                all participants use social media (Pinterest included) on a
                mobile device, six of them shop online on a laptop/desktop for
                ease of use. Moreover, products posted on social media often
                have insufficient information that requires further researching
                on the web before making purchase decisions.
            </p>
            <p class="line-bold line-height-180 mb-3">
                Shoppers tend to shop at only one brand at a time with a few
                go-to brands.
            </p>
            <p class="line-height-180 mb-3">
                Although inspiring products come everywhere, inconvenience when
                navigating different e-commerce websites and buyer’s guilt when
                making more than one purchases have been stopping customers from
                exploring new brands and products. This is one of the reasons
                why Amazon has been so successful - by allowing customers to buy
                everything from anywhere all at once.
            </p>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-page-break" /></div>
<div class="container">
    <p class="heading2">Prioritizing insights to conceptualize</p>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">The journey</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180 my-3">
                With plenty of insights, I needed to prioritize and synthesize
                them to form a strategy. I recognized a few patterns that were
                later turned into two user personas of “light user” (uses
                Pinterest occassionally for finding inspiration when needed) and
                “heavy user” (uses Pinterest requently both for inspiration and
                entertainment) and mapped into user journey. I placed more focus
                on the heavy user since they are more align with Pinterest’s
                value.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <figure>
                <img
                    class="zoom"
                    src="/static/img/pinterest_journey_map.png"
                    alt="Journey Map"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <p class="line-bold line-height-180 my-3">
                Finding size/fit and checkout are the main reasons shoppers
                abandon their shopping bag.
            </p>
            <p class="line-height-180 mb-3">
                Among several overlaps in the two personas, difficulties in
                finding size/fit and complicated checkout process stood out.
                Customers often struggle to find the right size for their body
                from inadequate information and assistant, which causes
                hesitation to buy. On another note, a complicated checkout
                process is not only time-consuming and tiring, but also creates
                an association with lack of security and unprofessionalism.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">From problems to solutions</p>
        </div>
        <div class="content column is-6 is-offset-1">
            <p class="line-height-180 my-3">
                These findings begged the question, how might we make sure
                customers feel safe and confident throughout the shopping
                process?
            </p>
            <p class="line-height-180 mb-3">
                The three-phase journey (in the journey map) was then translated
                into three focus areas, each of which is wireframed into several
                concepts and tested with eight users. Since the mobile phone is
                where the social media experience starts, it is the device I
                designed for.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-9 is-offset-1">
            <figure>
                <img
                    class="zoom"
                    src="/static/img/pinterest_wireframe.png"
                    alt="Wireframe"
                />
            </figure>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-page-break" /></div>
<div class="container">
    <p class="heading2">Working with a design system</p>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">UI design</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180 my-3">
                Although Pinterest’s Gestalt design system is published online,
                it’s no copy-paste for people outside the team. So how can I
                design efficiently without the original design file to steal
                from? The old style tile come to the rescue! After gathering all
                elements I need from the wireframes and created them according
                to Pinterest’s design guide, I’m ready to go.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <figure>
                <img src="https://via.placeholder.com/1920x640" alt="TODO" />
            </figure>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-page-break" /></div>
<div class="container">
    <p class="heading2">The results</p>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-4 is-offset-1">
            <video controls>
                <source
                    width="426px"
                    height="491px"
                    src="/static/video/timesheetx_video1.mov"
                    type="video/mp4"
                />
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="column is-5 is-offset-1">
            <p class="line-height-180 my-3 heading3">
                An unintrusive social commerce experience
            </p>
            <p class="line-height-180 mb-3">
                The shopping feature lies seamlessly within the app that won’t
                interfere with users’ social media experience.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project-small" /></div>
    <div class="columns">
        <div class="content column is-6 is-offset-1">
            <p class="line-height-180 my-3 heading3">
                Customized categories and filters for Pinners
            </p>
            <p class="line-height-180 mb-3">
                Shopping categories are customized to Pinterest’s most searched
                items to provide users quick access to wanted products.
            </p>
        </div>
        <div class="column is-offset-1">
            <p class="heading3">(Insert before + after image)</p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project-small" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">(Insert device image)</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180 my-3 heading3">
                Shopping securely and confidently without leaving the app
            </p>
            <p class="line-height-180 mb-3">
                Each product comes with adequate information and sizing
                assistant to help users make purchase decisions effortlessly.
            </p>
            <p class="line-height-180 mb-3">
                Shipping and payment information is presented transparently to
                ease any security concerns.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project-small" /></div>
    <div class="columns">
        <div class="content column is-6 is-offset-1">
            <p class="line-height-180 my-3 heading3">
                You place the order, we take care of the rest
            </p>
            <p class="line-height-180 mb-3">
                Shoppers can now conveniently buy multiple products from
                different brands in one checkout.
            </p>
        </div>
        <div class="column is-offset-1">
            <p class="heading3">(Insert before + after image)</p>
        </div>
    </div>
</div>
{% endblock %}
