{% extends "base.html" %} {% block content %}
<div class="container my-6"><hr class="hr-section" /></div>
<div class="section">
    <div class="container pt-3">
        <div class="columns">
            <div class="column">
                <div class="block has-text-centered">
                    <p class="heading1-cs heading3-cs-timesheetx">
                        Refreshing TimesheetX student experience
                    </p>
                    <p class="line-height-180">
                        TimesheetX (conceptual project) · Product design · 4
                        weeks
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <figure>
            <img
                id="hero-timesheetx-mobile"
                src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_hero.png"
                alt="TimesheetX Hero"
            />
        </figure>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">
                    Context & Problem
                </p>
            </div>
            <div class="column is-6">
                <p class="line-height-180">
                    <a
                        href="https://nextgenwebsolutions.com/timesheetx/"
                        target="_blank"
                        style="text-decoration: underline"
                        >TimesheetX</a
                    >
                    is a comprehensive web solution for student employment
                    timesheet needs. It is used and trusted by hundreds of
                    higher education institutions and millions of students
                    across the US today.
                </p>
                <p class="line-height-180 mt-6">
                    Students use TimesheetX every other week to report time
                    worked with supervisors to get paid. However, its student
                    experience falls short of satisfactory. Students constantly
                    report frustration and difficulty of use.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_context.png"
                        alt="TimesheetX Context"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">
                    Solution & Results
                </p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    I conducted research and redesigned TimesheetX’s main
                    feature to improve the student experience.
                </p>
                <ul>
                    <li>
                        100% of testing users completed given tasks, saying it’s
                        very easy to use.
                    </li>
                    <li>Task completion time was reduced by 60%.</li>
                    <li>
                        100% of testing users said they want to use the redesign
                        instead of the current one.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_solution.png"
                        alt="TimesheetX Solution"
                    />
                </figure>
            </div>
        </div>
    </div>
    <!-- <div class="container"><hr class="hr-page-break" /></div>
    <div class="container">
        <p class="heading2">The results</p>
        <div class="container"><hr class="hr-section-project" /></div>
        <div class="columns">
            <div class="column">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_result_banner.png"
                        alt="Result Banner"
                    />
                </figure>
            </div>
        </div>
        <div class="container"><hr class="hr-section-project-small" /></div>
        <div class="columns is-vcentered">
            <div class="column is-4 is-offset-1">
                <video class="video-demo" controls>
                    <source
                        src="https://dani.sfo3.digitaloceanspaces.com/video/timesheetx_video1.mov"
                        type="video/mp4"
                    />
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content column is-5 is-offset-1">
                <p class="line-height-180 my-3 heading3-cs">
                    Prominent access to jobs
                </p>
                <p class="line-height-180 mb-3">
                    The new information architecture provides instant access to
                    relevant jobs and timesheets as soon as students log into
                    their accounts.
                </p>
                <p class="line-height-180 mb-3">
                    All secondary information can be found in easy-to-access
                    categories from the navigation bar.
                </p>
            </div>
        </div>
        <div class="container"><hr class="hr-section-project-small" /></div>
        <div id="result-timesheetx-mobile1" class="columns is-vcentered">
            <div class="column is-4 is-offset-1">
                <video class="video-demo" controls>
                    <source
                        src="https://dani.sfo3.digitaloceanspaces.com/video/timesheetx_video2.mov"
                        type="video/mp4"
                    />
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content column is-5 is-offset-1">
                <p class="line-height-180 my-3 heading3-cs">
                    Customized layouts and interactions
                </p>
                <p class="line-height-180 mb-3">
                    The two-week timesheet period is broken down into two rows
                    for easier recalling and to avoid selecting the wrong dates.
                </p>
                <p class="line-height-180 mb-3">
                    Students are able to add and remove shifts quickly. Date and
                    time selection resembles the alarm setting design on mobile
                    devices for ease of use.
                </p>
            </div>
        </div>
        <div id="result-timesheetx-desktop1" class="columns is-vcentered">
            <div class="content column is-5 is-offset-1">
                <p class="line-height-180 my-3 heading3-cs">
                    Customized layouts and interactions
                </p>
                <p class="line-height-180 mb-3">
                    The two-week timesheet period is broken down into two rows
                    for easier recalling and to avoid selecting the wrong dates.
                </p>
                <p class="line-height-180 mb-3">
                    Students are able to add and remove shifts quickly. Date and
                    time selection resembles the alarm setting design on mobile
                    devices for ease of use.
                </p>
            </div>
            <div class="column is-4 is-offset-1">
                <video class="video-demo" controls>
                    <source
                        src="https://dani.sfo3.digitaloceanspaces.com/video/timesheetx_video2.mov"
                        type="video/mp4"
                    />
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="container"><hr class="hr-section-project-small" /></div>
        <div class="columns is-vcentered">
            <div class="column is-4 is-offset-1">
                <video class="video-demo" controls>
                    <source
                        src="https://dani.sfo3.digitaloceanspaces.com/video/timesheetx_video3.mov"
                        type="video/mp4"
                    />
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="content column is-5 is-offset-1">
                <p class="line-height-180 my-3 heading3-cs">
                    Giving control back to the students
                </p>
                <p class="line-height-180 mb-3">
                    Students can edit their timesheets after submission, as long
                    as supervisors haven’t finalized them yet.
                </p>
                <p class="line-height-180 mb-3">
                    Unnecessary limitations about work allotment are removed to
                    give students more control and accountability over their
                    timesheets.
                </p>
            </div>
        </div>
    </div> -->
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <p>Design process ↓</p>
                <hr class="hr-page-break-with-text" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">
                    Usability audit
                </p>
            </div>
            <div class="column is-6">
                <p class="line-height-180">
                    I set out to try TimesheetX for myself to understand
                    first-hand the struggles that my fellow students are facing.
                    Besides the uninspiring and outdated UI, the website is a
                    non-responsive, out-of-the-box solution without any
                    information architecture or customization to streamline the
                    timesheet workflow.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_usability_homepage.png"
                        alt="Timesheetx Usability Homepage"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_usability_job.png"
                        alt="Timesheetx Usability Job"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_usability_entry.png"
                        alt="Timesheetx Usability Entry"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">
                    Insights from students
                </p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    I sat down with 5 student employees from my college to
                    understand their working/timesheet habits and their problems
                    with TimesheetX. Here are the most common insights:
                </p>
                <p class="line-height-180 mb-3">
                    First, I see a shift in user behaviors with online shopping:
                </p>
                <ul>
                    <li>
                        “Although I want to use TimesheetX on the phone, I have
                        to use it on laptops or desktops because it’s easier to
                        use.”
                    </li>
                    <li>
                        “I struggled to locate the timesheets the first few
                        times...”
                    </li>
                    <li>
                        “... I often make mistakes when entering date and time.”
                    </li>
                    <li>
                        “I’m disappointed that it’s non-responsive and visually
                        outdated.”
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_insights.png"
                        alt="Timesheetx Insights"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-4">
                <p class="line-height-180">
                    Another valuable insight is that reentering the same weekly
                    work times is a pain point for students with a fixed work
                    schedule. However, since this is a high impact-high effort
                    task, I prioritized other tasks first to stay within the
                    time budget.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">Objectives</p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    After synthesizing and prioritizing all insights, I clearly
                    understood the problem.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_objectives.png"
                        alt="Timesheetx Objectives"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-4">
                <p class="line-height-180">
                    Optimizing TimesheetX for mobile devices, improving
                    timesheet wayfinding and entry interaction, and renewing the
                    visual design will improve the TimesheetX student
                    experience.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="content column is-6 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">
                    1. Improving timesheet wayfinding
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_objectives_wayfinding.png"
                        alt="Timesheetx Objectives Wayfinding"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">
                    Information architecture
                </p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    TimesheetX currently lacks information architecture and
                    visual support, using only 2 categories, “Information” and
                    “Other Links.” The main feature, “Enter your Timesheet,” is
                    buried among other links, making it difficult to find.
                    Moreover, it takes the students through several pages to
                    reach a timesheet. To improve wayfinding, I ran a cart sort
                    with 5 participants to group the links into useful
                    categories.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_objectives_info_architecture.png"
                        alt="Timesheetx Objectives Info Architecture"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">My Timesheets</p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    I was determined to bring the timesheets outside to make
                    them more prominently accessible. Since students mainly use
                    TimesheetX to report worked hours and rarely review
                    Resources or past jobs, I decided to show only current
                    timesheets on the homepage.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_objectives_timesheets.png"
                        alt="Timesheetx Objectives Timesheets"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="content column is-6 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">
                    2. Improving timesheet entry design
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_objectives_entry_design.png"
                        alt="Timesheetx Objectives Entry Design"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">
                    Timesheet layout
                </p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    From my conversations with students, filling out timesheets
                    must be the biggest pain point. The current design is a
                    spreadsheet without any consideration for touch target. So,
                    I also tested some new layouts with the students:
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_objectives_layout.png"
                        alt="Timesheetx Objectives Layout"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="content column is-6 is-offset-4">
                <ul>
                    <li>
                        Option 1 drew inspiration from the calendar view.
                        Students press and drag to add a timeframe.
                    </li>
                    <li>
                        Option 2 is similar to the current layout, where
                        students add the dates themselves from a dropdown menu.
                        It divides a 2-week pay period into 2 rows because of a
                        specific pain point: Students often select the wrong
                        date from a list of 14 days.
                    </li>

                    <li>
                        Option 3 displays all dates in a pay period, so students
                        only have to enter the time worked.
                    </li>
                </ul>
                <p class="line-height-180">
                    Option 2 won with 5 votes because:
                </p>
                <ul>
                    <li>
                        It’s easier to get an overall view of the whole
                        timesheet, as opposed to option 1.
                    </li>
                    <li>
                        It gives them the flexibility only to add the dates they
                        worked and multiple shifts in a day, whereas in option 3
                        they would leave some dates unfilled and cannot add more
                        than 1 shift in a date.
                    </li>
                    <li>
                        Scrolling vertically on a mobile phone is more natural
                        than scrolling horizontally in option 3.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">
                    Entry interaction
                </p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    With the current design, students must select dates and
                    times from long lists that are highly error-prone. I
                    explored different design patterns for time entry on mobile
                    devices:
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_objectives_entry_interaction.png"
                        alt="Timesheetx Objectives Entry Interaction"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-4">
                <p class="line-height-180">
                    After evaluating, I adopted both options 2 and 3.
                </p>
                <p class="line-height-180 mt-6">
                    Depending on jobs/supervisors, students would either round
                    up their work time or report the exact time by the minute.
                    Option 2 works well to select time by increments, while the
                    keyboard in option 3 allows the flexibility to enter an
                    exact number. Option 1, although provides a nice touch
                    gesture, takes up more screen estate.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">3. UI makeover</p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    It’s clear from the get-go that TimesheetX needs a new look.
                    Inspired by TimesheetX’s current color scheme and minimal
                    design, I created a new logo that appeals to students and a
                    clean, simplistic interface incorporating graphical elements
                    to reduce users’ cognitive load.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_objectives_ui_makeover1.png"
                        alt="Timesheetx Objectives UI Makeover 1"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_objectives_ui_makeover2.png"
                        alt="Timesheetx Objectives UI Makeover 2"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">4. Testing</p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    I applied the new style to the wireframes from ideation and
                    created a prototype. I tested it with 6 users using the
                    following metrics:
                </p>
                <ul>
                    <li>Task completion rate & time</li>
                    <li>User rating of ease of entering a timesheet</li>
                    <li>User rating of the new UI design</li>
                </ul>
                <p class="line-height-180">
                    The redesign received very positive feedback without any
                    significant problems.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure>
                    <img
                        class="zoom"
                        src="https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_objectives_testing.png"
                        alt="Timesheetx Objectives Testing"
                    />
                </figure>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="content column is-6 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">
                    Try it yourself!
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <iframe
                    style="width: 100%; height: 800"
                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F3qzw422z2JQiWVJj0Iq1dQ%2FTimesheetX_UI%3Fpage-id%3D222%253A3419%26node-id%3D222%253A3452%26viewport%3D616%252C81%252C0.06%26scaling%3Dscale-down%26starting-point-node-id%3D222%253A3776%26show-proto-sidebar%3D1"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <p>Learnings ↓</p>
                <hr class="hr-page-break-with-text" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">
                    Designing for mobile first
                </p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    This project led me to prioritize navigation and
                    interaction, which I consider key design elements for mobile
                    devices. As there are space restrictions on smaller screens,
                    I ensured that the most critical content, in this case -
                    timesheets, are prominently displayed since those are the
                    ones students actively look for. It was delightful to study
                    the design patterns and iterations on mobile devices that we
                    don’t always notice.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <p class="heading3-cs heading3-cs-timesheetx">
                    Designing less for more
                </p>
            </div>
            <div class="content column is-6">
                <p class="line-height-180">
                    Reducing users' cognitive load is my biggest holistic goal
                    for this project. While students can still complete their
                    tasks with the current design, it constantly puts even
                    senior students under a cognitive strain. By reorganizing
                    content and taking out unnecessary information, the redesign
                    greatly improves the experience.
                </p>
                <p class="line-height-180 mt-6">
                    On a technical note, it also reinforces the importance of
                    following visual design principles, especially visual
                    hierarchy, to aid user navigation.
                </p>
            </div>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <p>More case studies ↓</p>
                <hr class="hr-page-break-with-text" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-5 is-offset-1">
                <figure class="thumbnail-hover-wrapper">
                    <a href="/projects/pinterest">
                        <img
                            src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_thumbnail_normal.png"
                            alt="Thumbnail Normal"
                        />
                        <img
                            src="https://dani.sfo3.digitaloceanspaces.com/img/pinterest_thumbnail_hover.png"
                            class="thumbnail-hover"
                            alt="Thumbnail Hover"
                        />
                    </a>
                </figure>
            </div>
            <div class="column is-5">
                <figure class="thumbnail-hover-wrapper">
                    <img
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_thumbnail_normal.png"
                        alt="Thumbnail Normal"
                    />
                    <img
                        src="https://dani.sfo3.digitaloceanspaces.com/img/giant_thumbnail_hover_tmp.png"
                        class="thumbnail-hover"
                        alt="Thumbnail Hover"
                    />
                </figure>
            </div>
        </div>
    </div>
</div>
<script>
    const heroTimesheetXMobile = document.getElementById(
        "hero-timesheetx-mobile"
    );
    // const resultTimesheetXMobile1 = document.getElementById(
    //     "result-timesheetx-mobile1"
    // );
    // const resultTimesheetXDesktop1 = document.getElementById(
    //     "result-timesheetx-desktop1"
    // );
    const updateResultTimesheetX = () => {
        if (window.innerWidth <= 768) {
            heroTimesheetXMobile.src =
                "https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_thumbnail.png";
        } else {
            heroTimesheetXMobile.src =
                "https://dani.sfo3.digitaloceanspaces.com/img/timesheetx_hero.png";
        }

        // if (window.innerWidth <= 866) {
        //     resultTimesheetXMobile1.style.display = "";
        //     resultTimesheetXDesktop1.style.display = "none";
        // } else {
        //     resultTimesheetXMobile1.style.display = "none";
        //     resultTimesheetXDesktop1.style.display = "";
        // }
    };

    // Init
    updateResultTimesheetX();

    window.addEventListener("resize", function (event) {
        updateResultTimesheetX();
    });
</script>
{% endblock %}
