{% extends "base.html" %} {% block content %}
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <div class="block heading1">
                <p>Giant TODO</p>
            </div>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-section-project-small" /></div>
<div class="container">
    <figure class="img-full-width">
        <img src="https://via.placeholder.com/1728x640" alt="" />
    </figure>
</div>
<div class="container"><hr class="hr-section-project" /></div>
<div class="container">
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <figure>
                <img
                    src="/static/img/logo_timesheetx.png"
                    alt="TimesheetX Logo"
                />
            </figure>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">
                TimesheetX is a comprehensive web solution for student
                employment timesheet needs. It is used and trusted by hundreds
                of higher education institutions and millions of students across
                the US today.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading4">The Problem</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">
                Students use TimesheetX every other week to report time worked
                with supervisors to get paid. However, its student experience
                falls short of satisfactory. Students constantly report
                frustration and difficulty of use.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading4">My Role</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">UX/UI Designer</p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading4">Project duration</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">4 weeks/80 hours, April 2022</p>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-page-break" /></div>
<div class="container">
    <p class="heading2">Diverging to discover</p>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">Kickoff</p>
        </div>
        <div class="column is-6 is-offset-1">
            <p class="line-height-180">
                After getting an overview of TimesheetX, I set out to try it for
                myself to understand first-hand the struggles that my fellow
                students are facing. First, as an average human being and
                second, as a designer with a checklist of usability heuristics.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project-small" /></div>
    <div class="columns">
        <div class="column is-9 is-offset-1">
            <figure>
                <img
                    src="/static/img/timesheetx_current_website.png"
                    alt="Current Website"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <p class="line-bold line-height-180 my-3">
                Usability audit reveals major issues in user control,
                consistency, and efficiency of use.
            </p>
            <p class="line-height-180">
                Besides the uninspiring and outdated UI, the website is an
                out-of-the-box solution without any information architecture or
                customizations to streamlined the timesheet workflow.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project-small" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">Insights from student employees</p>
        </div>
        <div class="content column is-6 is-offset-1">
            <p class="line-height-180">
                I sat down with five student employees to find answer to key
                questions:
            </p>
            <ul>
                <li>What are students’ working and timesheet habits?</li>
                <li>What are their pain points when reporting timesheets?</li>
                <li>What do student employees need and want?</li>
            </ul>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <figure>
                <img
                    src="/static/img/timesheetx_student_insight.png"
                    alt="Students Insight"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <p class="line-bold line-height-180 my-3">
                Students feel forced to do a tedious task on a difficult website
                and untended by their colleges. They often face limitations that
                requires workarounds with supervisors.
            </p>
            <p class="line-height-180 mb-3">
                Although the students’ flow usually starts on the phone -
                reading email reminders of approaching timesheet submission
                deadlines, they have to switch to a laptop because TimesheetX’s
                mobile experience is too limited.
            </p>
            <p class="line-height-180 mb-3">
                Even senior students struggle every time with navigation to
                locate their jobs and wanted timesheets. The website presents
                redundant features and information that often limit students’
                control and require high cognitive load to skim through.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project-small" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">Insights from competitors</p>
        </div>
        <div class="content column is-6 is-offset-1">
            <p class="line-height-180">
                What other timesheet services are colleges using for student
                employments? After identifying TimesheetX’s competitors and
                reviewing them, I found a big gap in the field.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project-small" /></div>
    <div class="columns">
        <div class="column is-9 is-offset-1">
            <figure>
                <img
                    src="/static/img/timesheetx_competitor_insight.png"
                    alt="Competitors Insight"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <p class="line-height-180 my-3">
                Many colleges still use manual PDF and physical timesheets.
                Others use outdated services similar to TimesheetX. And the more
                modern services often offer too many features at much higher
                prices.
            </p>
            <p class="line-bold line-height-180 mb-3">
                TimesheetX has an unique opportunity to renew and optimize for
                insitution’s employment needs.
            </p>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-page-break" /></div>
<div class="container">
    <p class="heading2">Framing problem areas</p>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">The current user experience</p>
        </div>
        <div class="content column is-6 is-offset-1">
            <p class="line-height-180 my-3">
                With all the insights gathered, I prioritized and mapped them
                out to identify problem areas and opportunities for
                improvements.
            </p>
            <p class="line-height-180 mb-3">
                Multiple touchpoints are required to successfully submit a
                single timesheet. Besides switching devices, students often need
                additional communication with peers and supervisors for error
                troubleshooting, which leads to frustration and wasted time.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project-small" /></div>
    <div class="columns">
        <div class="column is-9 is-offset-1">
            <figure>
                <img
                    src="/static/img/timesheetx_current_ux.png"
                    alt="Current UX"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <p class="line-bold line-height-180 my-3">
                Date and time entry is the most painful part.
            </p>
            <p class="line-height-180 mb-3">
                Student have to scroll through and select from a list of date
                and time (by the minute) for every shift. This experience is
                especially agonizing on the phone since the website is
                non-responsive with no customization for a touch screen.
            </p>
        </div>
    </div>
    <div class="container"><hr class="hr-section-project-small" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">From problems to solutions</p>
        </div>
        <div class="content column is-6 is-offset-1">
            <p class="line-height-180 my-3">
                So how might we streamline this tedious process? With the help
                of a few other UX students, I brainstormed different solutions
                for each problem areas identified. After a comprehensive card
                sort, these potential solutions were then translated into
                several wireframe concepts for testing. Since the phone is most
                students’ preferred device, this is where I started.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-9 is-offset-1">
            <figure>
                <img
                    src="/static/img/timesheetx_wireframe.png"
                    alt="Wireframes"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <p class="line-bold line-height-180 my-3">
                All students prefer a clean layout showing only relevant
                features and information.
            </p>
            <p class="line-height-180 mb-3">
                Past jobs, old timesheets, and help documentation are stored
                away in easy-to-find categories. Timesheet layout, workflow, and
                interactions are customized to meet students’ needs.
            </p>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-page-break" /></div>
<div class="container">
    <p class="heading2">UI makeover</p>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">Logo and style</p>
        </div>
        <div class="content column is-6 is-offset-1">
            <p class="line-height-180 my-3">
                Now that the new website has had a strong skeleton, it’s time
                for the exciting part! It’s clear from the get-go that
                TimesheetX needs a new look. I needed to design for students
                while keeping it professional for institutions.
            </p>
            <p class="line-height-180 mb-3">
                Inspired by TimesheetX’s current color scheme and minimal
                design, I created a new logo that appeal to the young adults and
                a clean, simplistic interface incorporating graphical elements
                to reduce users’ cognitive load.
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-9 is-offset-1">
            <figure>
                <img
                    src="/static/img/timesheetx_logo_redesign.png"
                    alt="Logo Redesign"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-9 is-offset-1">
            <figure>
                <img
                    src="/static/img/timesheetx_style_title.png"
                    alt="Style Title"
                />
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <p class="line-height-180 my-3">
                The new logo and style were then applied to the wireframes to
                become high-fidelity prototype ready for testing.
            </p>
        </div>
    </div>
</div>
<div class="container"><hr class="hr-page-break" /></div>
<div class="container">
    <p class="heading2">The results</p>
    <div class="container"><hr class="hr-section-project" /></div>
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <p class="heading3">TODO</p>
        </div>
        <div class="content column is-6 is-offset-1">
            <p class="line-height-180 my-3">TODO</p>
        </div>
    </div>
</div>
{% endblock %}
